@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Ghor Bhubon!</h1>
        <p>LogIn/Register</p>
        <div>
            <a href="/User/Login" class="btn">Login</a>
            <a href="/User/Register" class="btn">Register</a>
        </div>
    </div>
</body>
</html>
